<div class="container" [ngClass]="loaded ? 'loaded' : ''">
    <h1 *ngIf="games.length > 0" class="title">Mis juegos</h1>
    <h1 *ngIf="games.length == 0" class="title">No participas en ningún juego</h1>
    <div class="games" *ngIf="games.length > 0">
        <div *ngFor="let game of games; index as i" class="game gamecolor{{i%4 + 1}} underline" (click)="goToGame(game.gameid)">
            <h2 class="game-name text--center avoid-dark">- {{ game.title }} -</h2>
            <p class="game-date avoid-dark">Comenzado el {{ stringifyDate(game.startDate) }}</p>
            <div class="gamestats">
                <div class="stat cashstats">
                    <i-tabler name="coin" class="staticon"></i-tabler>
                    <p class="stat-text">{{ game.initialCash }}$ iniciales</p>
                </div>
                <div class="stat selfcashstats">
                    <i-tabler name="wallet" class="staticon"></i-tabler>
                    <p class="stat-text">{{ game.cash }}$ en tu cuenta</p>
                </div>
                <div class="stat variationstats">
                    <i-tabler name="chart-bar" class="staticon"></i-tabler>
                    <p class="stat-text">{{ game.variation }}% de variacion</p>
                </div>
            </div>
        </div>
    </div>
</div>
