<div class="container align">
    <div class="grid">
        <form #f="ngForm" (ngSubmit)="login(f)" class="form login">
            <h1 class="text--center">Iniciar sesion</h1>
            <div class="form__field">
                <label for="login__username" class="iconlabel">
                    <i-tabler name="user" class="formicon"></i-tabler>
                </label>
                <input id="login__username" type="text" name="username" class="form__input" placeholder="Nombre de usuario" autocomplete="off"
                    required="" ngModel>
            </div>
            <div class="form__field">
                <label for="login__password" class="iconlabel">
                    <i-tabler name="lock" class="formicon"></i-tabler>
                </label>
                <input id="login__password" type="password" name="password" class="form__input" placeholder="Contraseña"
                    required="" ngModel>
            </div>
            <div class="form__field">
                <input type="submit" value="Entrar">
            </div>
        </form>
        <p class="text--center mt-n3">Olvidaste tu contraseña? <a href="forgottenpass">Recuperala</a></p>
        <div class="errordiv" *ngIf="err">
            <p>{{err}}</p>
        </div>
    </div>
</div>