body.light {
    background-color: #eee;
}

body.light .login input[type='password'],
body.light .login input[type='text'] {
    background-color: #e5e5e5;
}

body.light .login input[type='password']:focus,
body.light .login input[type='password']:hover,
body.light .login input[type='text']:focus,
body.light .login input[type='text']:hover {
    background-color: #c9c8c8;
}

body.light .login label {
    background-color: #acacac;
}

body.light .login {
    color: rgb(51, 51, 51);
}

body.light a {
    color: #4c83ea;
}

body.light .sectionbt {
    color: black;
}

body.light .usermenu {
    background-color: #c0c0c0;
}

body.light .usermenu::before {
    background-color: #c0c0c0;
}

body.light .menubt {
    color: black;
}