<app-gamemenu [parent]="this"></app-gamemenu>

<div class="container" [ngClass]="loaded ? 'loaded' : ''">
    <h1 *ngIf="game" class="title">{{ game.title }}</h1>
    <h1 *ngIf="!game" class="title">Juego no encontrado</h1>
    <div class="gamestats" *ngIf="game">
        <div class="divstat cash">
            <h2 class="titlestat">{{ game.cash }}$</h2>
            <p class="subtitlestat">En tu bolsillo</p>
        </div>
        <div class="divstat variation" [ngClass]="{negative: game.variation < 0, neutral: game.variation == 0}">
            <h2 class="titlestat">{{ game.variation }}%</h2>
            <p class="subtitlestat">De variacion</p>
        </div>
        <div class="divstat stocks clickeable" [routerLink]="['/game/' + game.gameid + '/inventory']">
            <h2 class="titlestat" >{{ game.stocks }}</h2>
            <p class="subtitlestat">Acciones y mas</p>
        </div>
        <div class="divstat transactions clickeable" [routerLink]="['/game/' + game.gameid + '/transactions']">
            <h2 class="titlestat">{{ game.transactions }}</h2>
            <p class="subtitlestat">Transacciones <br> realizadas</p>
        </div>
    </div>
    <div class="buyselector" *ngIf="game">
        <button class="selectorbt sharebt" *ngIf="game.shares?.length" (click)="buymenu='shares'">
            <i-tabler name="caret-right" class="buyselectoricon" [ngClass]="{active: buymenu=='shares'}"></i-tabler>
            Acciones
        </button>
        <button class="selectorbt commoditybt" *ngIf="game.commodities?.length" (click)="buymenu='commodities'">
            <i-tabler name="caret-right" class="buyselectoricon" [ngClass]="{active: buymenu=='commodities'}"></i-tabler>
            Commodities
        </button>
        <button class="selectorbt currencybt" *ngIf="game.currencies?.length" (click)="buymenu='currencies'">
            <i-tabler name="caret-right" class="buyselectoricon" [ngClass]="{active: buymenu=='currencies'}"></i-tabler>
            Monedas
        </button>
    </div>
    <div class="buymenu sharemenu" *ngIf="buymenu == 'shares' && game">
        <div class="shares" *ngIf="game?.shares">
            <div class="share" *ngFor="let share of game.shares" (click)="goToShare(share.code)">
                <img class="buyimage" [src]="share.image ? backendAssetsUrl + 'shareimages/' + share.image : defaultshareimage">
                <div class="buymenusection">
                    <h2 class="buymenutitle">{{share.name}}</h2>
                    <p class="buymenucode">({{share.code}})</p>
                </div>
                <div class="buymenusection">
                    <h2 class="buymenuvalue">{{share.quotation}}$</h2>
                    <div class="variationdiv">
                        <p class="buymenuvariation" [ngClass]="{positive: share.variation > 0, negative: share.variation < 0}">
                            <i-tabler name="arrow-big-up-line" class="buymenuicon" *ngIf="share.variation > 0"></i-tabler>
                            <i-tabler name="arrow-big-down-line" class="buymenuicon" *ngIf="share.variation < 0"></i-tabler>
                            ({{share.variation != null ? share.variation : '--'}}%)
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="buymenu commoditymenu" *ngIf="buymenu == 'commodities' && game">
        <h1>Commodities</h1>
    </div>
    <div class="buymenu currencymenu" *ngIf="buymenu == 'currencies' && game"> 
        <div class="currencies" *ngIf="game?.currencies">
            <div class="currency" *ngFor="let currency of game.currencies" (click)="goToCurrency(currency.code)">
                <img class="buyimage" *ngIf="currency.image" [src]="currency.image">
                <i-tabler name="coin" class="currencyicon" *ngIf="!currency.image"></i-tabler>
                <div class="buymenusection">
                    <h2 class="buymenutitle">{{currency.name}}</h2>
                    <p class="buymenucode">({{currency.code}})</p>
                </div>
                <div class="buymenusection">
                    <h2 class="buymenuvalue">{{currency.quotation}}$</h2>
                    <div class="variationdiv">
                        <p class="buymenuvariation" [ngClass]="{positive: currency.variation > 0, negative: currency.variation < 0}">
                            <i-tabler name="arrow-big-up-line" class="buymenuicon" *ngIf="currency.variation > 0"></i-tabler>
                            <i-tabler name="arrow-big-down-line" class="buymenuicon" *ngIf="currency.variation < 0"></i-tabler>
                            ({{currency.variation != null ? currency.variation : '--'}}%)
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="rotating-dots" [ngClass]="loaded ? 'loaded': ''"><div></div><div></div></div>