.container {
    padding-top: 20px;
}

.title {
    text-align: center;
    font-family: 'Zen Maru Gothic', sans-serif;
    font-size: 40px;
    margin-bottom: 20px;
}

.gamestats {
    height: 110px;
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.divstat {
    height: 100px;
    width: 150px;
    background-color: #48c77d;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 0px 10px;
    transition: background-color 0.5s, height 0.5s, width 0.5s, margin-top 0.5s;
    user-select: none;
    color: black;
}

.divstat:hover {
    background-color: #6dc993;
    height: 110px;
    width: 160px;
    margin-top: -5px;
}

.divstat.clickeable {
    cursor: pointer;
}

.divstat.negative {
    background-color: #c74848;
}

.divstat.negative:hover {
    background-color: #ca6868;
}

.divstat.neutral {
    background-color: #949494;
}

.divstat.neutral:hover {
    background-color: rgb(173, 173, 173);
}

.titlestat {
    margin: 0;
}

.subtitlestat {
    margin: 0;
}

.buyselector {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.selectorbt {
    width: 100%;
    height: 20px;
    background: none;
    border: 0;
    border-bottom: 3px solid #4C83EA;
    margin: 0 10px;
    font-size: 22px;
    font-family: 'Heebo', sans-serif;
    padding-bottom: 10px;
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(77, 132, 234, 1) 100%);
    background-repeat: no-repeat;
    transition: background-position 0.3s, color 1s;
    background-size: auto 210%;
    background-position: 0 -100%;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.selectorbt:hover {
    cursor: pointer;
    background-position: 0 0;
}

.share, .commodity, .currency {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    transition: background-color 0.5s;
    cursor: pointer;
}

.buyimage {
    max-width: 90px;
    max-height: 50px;
    margin-right: 10px;
}

.buymenutitle, .buymenuvalue {
    font-family: 'Lato', sans-serif;
    margin-right: 10px;
    margin: 0;
}

.buymenucode, .buymenuvariation {
    font-family: 'Heebo', sans-serif;
    margin: 0;
}

.buymenuvariation.positive {
    color: green;
}

.buymenuvariation.negative {
    color: red;
}

.buymenusection {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 0 20px;
}

.buymenuvariation {
    display: flex;
    align-items: center;
    color: black;
}

.buymenuicon {
    margin-right: 3px;
}

.variationdiv {
    border-radius: 10px;
    padding: 2px 3px;
}

.currencyicon {
    width: 40px;
    margin-top: -20px;
}

.buyselectoricon {
    opacity: 0;
    transform: rotate(270deg);
    margin-right: -20px;
    transition: opacity 0.5s, transform 0.5s, margin-right 0.5s;
}

.buyselectoricon.active {
    opacity: 1;
    transform: rotate(360deg);
    margin-right: 0;
}