.container {
    padding-top: 20px;
}

.sharetitlediv {
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.title {
    text-align: center;
    font-family: 'Zen Maru Gothic', sans-serif;
    font-size: 40px;
    margin: 0;
}

.shareimage {
    max-height: 50px;
    margin-right: 20px;
}

.sharecode {
    font-family: 'Heebo', sans-serif;
    margin: 0;
    text-align: center;
}

.titletype {
    font-family: 'Inter', sans-serif;
    border-radius: 5px;
    padding: 4px;
    margin-left: 5px;
}